body {
    height: auto;
    width: auto;
}

.tab-header {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 15px;
    width: 25%;
}

.tab-header:hover {
    background-color: #777;
}

.footer {
    /*left: 0;*/
    /*bottom: 0;*/
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
}

.tab-container {
    height:90%;
    width:100%;
    overflow:hidden
}